/*css*/
img{
	width:80%;
	max-width:200px;
	vertical-align:middle;
	padding:10px;
	border-radius:25%;
}
div.container{
	margin:10px 50px 0px 50px;
	background-color:rgb(227, 255, 155);
	padding:15px;
	border-radius:5%;
}

table,tr,td{
	border:1px solid black;
	border-collapse:separate;
	background-color:green;
}
td#cot1,td#cot2{
	text-align:center;
	padding:10px;
	color:blue;
	background-color:rgb(159, 255, 205);
	
}
table.demo{
	background-color:rgb(255, 255, 142);
}
td:hover {
    background-color: #f5f5f5; 
    color: #333;  
}